.jumbotron {
  background-color: #fce0ba;
  text-align: center;
}

.col-md-3 {
  background-color: #77ad70;
  margin-bottom: 200px;
}

.white {
  color: white;
}

body {
  background-color: lightgray;
}

h4 {
  color: #fce0ba;
}
